@font-face {
  font-family: 'ananda';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/Ananda.ttf') format('truetype');
}

// page transition animations
.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease;
}
.page-enter,
.page-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

.v-navigation-drawer {
  .v-list-item {
    padding: 0 8px;
  }
  .v-list-item__title,
  .v-list-item__subtitle,
  .v-list-item__icon i {
    color: white !important;
  }

  .v-list-item--active {
    .v-list-item__title,
    .v-list-item__icon i {
      color: #e5c591 !important;
    }
  }
}

// pray

.header-title {
  text-align: center;
  font-family: 'ananda' !important;
  color: black;
  font-size: 2em;
}

.header-carousel {
  .v-image__image {
    opacity: 0.5;
  }
}

.content-card {
  border: none !important;
}

.session-chip {
  .v-slide-group__content {
    justify-content: center;
  }
}
